body {
  background: #fff;
  font-family: "Object Sans", serif ;
}

table {
  border-collapse: collapse;
}

th, td {
  padding-top: 5px;
  padding-bottom: 40px;
  padding-left: 10px;
  text-align: left;
  color: #121212;
  vertical-align: top;
  border: 2px solid black;
}

th, td, .text {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.8em;
}
td {
  padding-right: 20px;
}
a {
  text-overflow:  ellipsis;
  max-width: 100%;
}
.td-double:first-child {
  width: 30%;
  padding-right: 60px;
}

.td-width15 {
  width: 15%;
  padding-right: 60px;
}

.container {
  /* margin: 52px 58px 28px 49px; */
  width: 90%;
  padding: 50px 0 28px 0;
  margin: 0 auto;
  /* width: 100%; */
}
.container__table {
  max-width: 100%;
  height: auto;
  overflow-y: auto;
}

.logo {
  position: absolute;
  right: 57px;
  top: 28px;
  height: 109px;
  width: 103px;
}

.title {
  color: #0B349E;
  font-weight: normal;
  margin-bottom: 0;
}

.main-title {
  font-size: 44px;
  line-height: 54px;
  letter-spacing: 0.5px;
}

.point-title {
  font-size: 24px;
  line-height: 35px;
}

.text {
  color: #121212;
  margin-bottom: 30px;
}

.text-li {
  margin: 0 0 0 10px;
}

.bold {
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .support {
    display: inline;
  }
  .logo {
    height: 47px;
    width: 46px;
    top: 100px;
  }
  .no_lh {
    line-height: unset;
    padding-top: 16px
  }

  th, td, .text {
    font-weight: normal;
    font-size: 1.25em;
    line-height: 2em;
  }
  .main-title {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  .point-title {
    font-size: 1.35em;
    line-height: 1.5em;
  }

  table {
    width: 800px;
  }

  .text {
    overflow: hidden;
    text-align: justify;
    font-size: 1.25em;
  }
  p {
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 570px) {
  table {
    width: 600px;
  }
  .text {
    font-size: 1em;
  }
}