@font-face {
  font-family: 'Object Sans';
  src: url('../font/ObjectSans-Regular.eot');
  src: local('Object Sans Regular'), local('ObjectSans-Regular'),
  url('../font/ObjectSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../font/ObjectSans-Regular.woff2') format('woff2'),
  url('../font/ObjectSans-Regular.woff') format('woff'),
  url('../font/ObjectSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #0B349E 0%, #082571 100%) no-repeat;
}

.left-circle {
  position: fixed;
  background: url(../img/left_circle.svg) no-repeat fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.logo {
  position: fixed;
  top: 10px;
  left: 9%;
}

.logo img {
   width: 100%;
   height: 100%
}

.peoples {
  position: fixed;
  top: 14%;
  left: 6%;
}

.peoples img {
  width: 100%;
  height: 100%;
}

.title {
  position: fixed;
  font-family: 'Object Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 102px;
  color: #fff;
  left: 740px;
  top:170px;
  white-space: nowrap;
}


.email {
  position: fixed;
  display: flex;
  margin-left: 748px;
  margin-top: 320px;
}

.email input {
  color:white;
  background-color: rgba(255,255,255,0.1);
  outline:0 none !important;
  border: none;
  border-radius: 16px;
  padding-left: 10px;
  width: 540px;
  height: 50px;
}

.email button {
  width: 50px;
  background-color: rgba(255,255,255,0.000001);
  outline:0 none !important;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border: none;
  margin-left: -50px;
}

.description {
  position: fixed;
  font-size: 24px;
  line-height: 25px;
  color: #FFFFFF;
  margin-left: 748px;
  margin-top: 380px;
}

.networks {
   position: fixed;
   display: flex;
   top: 93%;
   left:87%;
}

.networks button {
   border: none;
   outline:0 none !important;
   width: 41px;
   height: 41px;
   margin-right: 30px;
   background: rgba(255, 255, 255, 0.2);
   border-radius: 57px;
}

.networks img {
   margin-left: -2px;
   margin-top: 2px;
}

#instagram img {
  width: 22px;
  height: 22px;
  opacity: 0.8;
}

/* width */

@media (max-width: 1400px) {
   
   .networks {
    left:80%;
   }
}

@media (max-width: 1320px) {
   .email {
      margin-left: 700px;
   }
   .title {
    left:700px;
   }
   .description {
    margin-left: 703px;
   }
   .networks {
    left:82%;
   }
}


@media (max-width: 1280px) {
   .title {
     font-size: 80px;
   }

    .logo {
      left:6%;
    }
    .peoples {
      left:1%;
    }

  .email {
      margin-left: 650px;
      margin-top: 300px;
   }
   .title {
    left:650px;
   }
   .description {
    margin-left: 653px;
    margin-top: 350px;
   }
}

@media (max-width: 1220px) {
   .email {
      margin-left: 620px;
   }
   .title {
      left:620px;
    }
   .description {
      margin-left: 623px;
   }
}

@media (max-width: 1185px) {
    .email input {
      width: 500px;
    }
    .description {
      font-size: 22px;
    }
}

@media (max-width: 1150px) {
    .title {
      font-size: 70px;
    }
    .email input {
      width: 460px;
    }
    .description {
      font-size: 20px;
    }
}

@media (max-width: 1115px) {
    .title {
      font-size: 60px;
    }
    .email {
      width: 420px;
      margin-top: 280px;

    }
    .description {
      font-size: 18px;
      margin-top: 330px;
    }
}


@media (max-width: 1060px) {
    .email {
      width: 380px;
    }
}

@media (max-width: 1020px) {
    .email {
      width: 340px;
    }
}

@media (max-width: 985px) {
    .title {
      left: 580px;
    }
    .email {
      margin-left: 580px;

    }
    .description {
      margin-left: 583px;
    }
    .networks {
     left:75%;
   }
}

@media (max-width: 950px) {
    .logo {
      left:1%;
    }

    .logo img {
       width: 350px;
       height: 350px;
    }

    .peoples img {
      width: 600px;
      height: 600px;
    }

    .title {
      font-size: 50px;
      left: 460px;
    }
    .email {
      margin-left: 460px;

    }
    .description {
      margin-left: 463px;
    }
}

@media (max-width: 815px) {

    .email input {
      width: 280px;
    }
    .networks {
     left:70%;
   }
}

@media (max-width: 770px) {

    .logo {
       left: 5%;
    }

    .peoples {
       left:4%;
    }

    .logo img {
       width: 300px;
       height: 300px;
    }

    .peoples img {
       width: 550px;
       height: 550px;
    }

    .title {
      left: 420px;
    }
    .email {
      margin-left: 420px;

    }
    .description {
      margin-left: 423px;
    }
}

@media (max-width: 720px) {

    .logo {
       left: 8%;
    }

    .peoples {
       left:7%;
       top:9%;
    }
    .logo img {
       width: 250px;
       height: 250px;
       max-height: 250px;
       max-width: 250px;
    }
    .peoples img {
       width: 500px;
       height: 72%;
    }

    .title {
      font-size: 40px;
      left: 80px;
      top:65%;
    }
    .email {
      margin-left: 80px;
      top:43%;
    }
    .description {
      margin-left: 80px;
      top:43%;
    }
}

@media (max-width: 630px) {
    .networks {
      left:65%;
   }
}

@media (max-width: 550px) {
    .networks {
      left:55%;
      top:94%;
   }
}

@media (max-width: 410px) {
   .networks {
    left:51%;
   }
}

@media (max-width: 375px) {
     .peoples {
       left:-4%;
     }

    .networks {
      left:47%;
   }

   .networks button {
     width: 35px;
     height: 35px;
   }
   
   .title {
      left: 50px;
    }
    .email {
      margin-left: 50px;
    }
    .description {
      margin-left: 50px;
    }

}

@media (max-width: 345px) {
   .logo {
       left: 6%;
    }
   
   .title {
      left: 40px;
    }
    .email {
      margin-left: 40px;
    }
    .description {
      margin-left: 40px;
    }

}

@media (max-width: 340px) {
   .logo {
       left: 5%;
    }
    .peoples {
       left:-7%;
    }
   
   .title {
      left: 20px;
    }
    .email {
      margin-left: 20px;
    }
    .description {
      margin-left: 20px;
    }

    .networks {
      left:42%;
    }

}

@media (max-width: 320px) {
    .networks {
      top:95%;
    }
    .title {
      top:66%;
    }
    .email {
      top:43%;
    }
    .description {
      top:42%;
    }
    .peoples {
       top:10%;
    }
}



/* height */



@media (max-height: 870px) {
   .peoples {
     height: 90%; 
   }
}


@media (min-width: 1000px) and (max-height: 750px) {
    .logo {
       left:11%;
       top:-1%;
    }
    .logo img {
       width: 380px;
       height: 380px;
    }
}

@media (max-width: 720px) and (max-height: 770px) {
   .email {
      top:38%;
   }
   .description {
      top:38%;
   }
}

@media (max-width: 720px) and (max-height: 750px) {
   .peoples {
     left:4%;
   }

   .peoples img {
        width: 450px;
        height: 450px;
        min-width:450px; 
        min-height: 450px;
   }
   .email input {
      height: 40px;
   } 
   .description {
     top:32%;
   }
}

@media (max-width: 720px) and (max-height: 735px) {
   .peoples {
     top:12%;
   }
   
   .peoples img {
     width: 450px;
     height: 450px;
     min-width:450px; 
     min-height: 450px;
   }
   .email input {
      height: 40px;
   }
}

@media (max-width: 480px) and (max-height: 780px) {
    .email {
       top:38.5%;
    }
    .description {
      top:38%;
    }
}

@media (max-width: 720px) and (max-height: 740px) {
     .description {
        top:35%;
     }
}

@media (max-width: 720px) and (max-height: 720px) {
     .email {
        top:37%;
     }
     .description {
        top:34%;
     }
}

@media (max-width: 720px) and (max-height: 690px) {
     .email {
        top:32%;
     }
     .title {
        top:60%;
     }
     .description {
        top:30%;
     }
     .logo {
        top:1%;
     }
     .peoples {
        top:8%;
     }
     .peoples img {
        width: 420px;
        height: 420px;
        min-width:420px; 
        min-height: 420px;
     }
}


@media (max-width: 720px) and (max-height: 710px) {
     .logo img {
        width: 220px;
        height: 220px;
        max-width:220px;
        max-height: 220px;
     }
     .peoples img {
        width: 400px;
        height: 400px;
        max-width: 400px;
        max-height: 400px;
     }
}

@media (max-width: 720px) and (max-height: 670px) {
     .email {
        top:30%;
     }
     .title {
        top:60%;
     }
     .description {
        top:28%;
     }
     .logo {
        top:1%;
        left: 14%;
     }

     .peoples {
        top:7%;
     }

     .logo img {
        width: 180px;
        height: 180px;
        max-width:180px;
        max-height: 180px
     }
}

@media (max-width: 720px) and (max-height: 650px) {
     .email {
        top:190px;
     }
     .title {
        top:390px;
     }
     .description {
        top:170px;
     }
     .logo {
        top:-1%;
        left: 8%;
     }

     .peoples {
        top:5%;
        left:2%;
     }

     .logo img {
        width: 190px;
        height: 190px;
        max-width:190px;
        max-height: 190px
     }
}

